.footer {
  background-color: #333333;
  padding-bottom: 30px;
  i {
    color: #CCCCCC;
    padding-top: 20px;
    font-size: 25px;
    letter-spacing: 10px;
    margin-left: 10px;
  }
  p {
  color: #CCCCCC;
  font-size: 15px;
  margin-left: 10px;
  }
}
